target/

.DS_Store

**/.DS_Store

helloworld/dist

helloworld/target
*.pbxuser

*.mode1v3

helloworld/xcode/build

helloworld/xcode/helloworld.xcodeproj/project.xcworkspace/xcuserdata/philipp.xcuserdatad/UserInterfaceState.xcuserstate

helloworld/xcode/helloworld.xcodeproj/project.xcworkspace/xcuserdata/philipp.xcuserdatad/WorkspaceSettings.xcsettings
