<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
  <dict>
    <key>CFBundleName</key>
    <string>${bundleName}</string>
    <key>CFBundleIdentifier</key>
    <string>de.javastream.rococoa.apptest.App</string>
    <key>CFBundleVersion</key>
    <string>100.0</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>${iconFile}</string>
    <key>LSArchitecturePriority</key>
    <array>
            <string>i386</string>
            <string>x86_64</string>
            <string>ppc</string>
            <string>ppc64</string>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>10.5</string>
    <key>Java</key>
    <dict>
            <key>WorkingDirectory</key>
            <string>${workingDirectory}</string>
            <key>VMOptions</key>
            <string>${vmOptions}</string>
            <key>MainClass</key>
            <string>${mainClass}</string>
            <key>StartOnMainThread</key>
            <true/>
            <key>JVMVersion</key>
            <string>1.5+</string>
            <key>ClassPath</key>
            ${classpath}
    </dict>
  </dict>
</plist>
